body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Main (flexible), Footer */
  min-height: 100vh;
}

.container {
  margin: auto;
  max-width: var(--container-max-width);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    box-sizing: border-box;
    margin: auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
}
